@font-face {
    font-family: "iconfont";
    /* Project id 3994234 */
    src: url('//at.alicdn.com/t/c/font_3994234_dcvsgfb37jj.woff2?t=1683192202417') format('woff2'), url('//at.alicdn.com/t/c/font_3994234_dcvsgfb37jj.woff?t=1683192202417') format('woff'), url('//at.alicdn.com/t/c/font_3994234_dcvsgfb37jj.ttf?t=1683192202417') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before {
    content: "\e606";
}

.icon-information:before {
    content: "\e676";
}

.icon-lianjie:before {
    content: "\e671";
}

.icon-shouye:before {
    content: "\e609";
}

.icon-xiangce:before {
    content: "\e607";
}

.icon-youlianguanli:before {
    content: "\e66f";
}

.icon-repeat:before {
    content: "\e621";
}

.icon-article:before {
    content: "\e636";
}

.icon-cinema:before {
    content: "\e620";
}

.icon-tuite:before {
    content: "\e707";
}

.icon-youxiang:before {
    content: "\e626";
}

.icon-QQ1:before {
    content: "\e887";
}

.icon-github:before {
    content: "\e6f6";
}

.icon-Netease:before {
    content: "\e60b";
}

.icon-bilibili:before {
    content: "\e601";
}

.icon-qiehuan:before {
    content: "\e61f";
}

.icon-top:before {
    content: "\e795";
}

.icon-yuedu-2:before {
    content: "\e675";
}

.icon-fuzhiwenjian:before {
    content: "\e600";
}

.icon-tianchongxing-:before {
    content: "\e63f";
}

.icon-jiantou_xiangshang:before {
    content: "\eb0a";
}

.icon-liuyan:before {
    content: "\e744";
}

.icon-huaban:before {
    content: "\e62b";
}

.icon-weixin:before {
    content: "\e637";
}

.icon-qq:before {
    content: "\e603";
}

.icon-youxiang1:before {
    content: "\e908";
}

.icon-youxiang2:before {
    content: "\e618";
}